/* @import url("https://use.typekit.net/ofq8gad.css"); */

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: "industry", sans-serif;
  font-weight: 400; /* Regular */
  font-style: normal;
}


:root{
  --bg: rgba(34,34,34,0.95);
  --panel-bg: rgba(34,34,34,0.95);
  --accent: #8ED433;
  --text: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "industry", sans-serif;
  font-weight: 700; /* Bold */
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header, .footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.footer {
  text-align: center;
}